# Node
node_modules/
npm-debug.log
yarn-error.log

# Compilados Angular
dist/
out-tsc/
.angular/

# Entorno
.env
.env.*

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
